@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.rubik-400 {
  font-family: 'rubik' !important;
  font-weight: 400 !important;
}

.titillium-400 {
  font-family: 'titillium web' !important;
  font-weight: 400 !important;
}

.titillium-600 {
  font-family: 'titillium web' !important;
  font-weight: 600 !important;
}

.titillium-700 {
  font-family: 'titillium web' !important;
  font-weight: 700 !important;
}

.landing-section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.registration-section {
  background-color: #08aeea;
  background-image: linear-gradient(90deg, #078fc0 0%, #2af598 100%);
}

.colored-thing-on-footer {
  background-color: #08aeea;
  background-image: linear-gradient(90deg, #08aeea 0%, #2af598 100%);
}

.neon {
  background-color: #40b452;
  background-image: linear-gradient(210deg, #40b452 0%, #0c8856 100%);
}

.moving-imgs {
  -webkit-animation: thing 20s;
  -o-animation: thing 20s;
  animation: thing 20s;
}

@keyframes thing {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.1, 1.1);
  }
}

.brand {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.brand:hover {
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  margin-left: 10px;
}

.selfie-button {
  border: solid 1px grey;
  border-style: dashed;
  padding: 0 30px;
  padding-top: 18px;
  padding-bottom: 24px;
}

.dark-purple-blue-gradient {
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
}
